/* Hace que la página ocupe toda la altura de la pantalla */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Empuja el footer hacia abajo */
footer {
  margin-top: auto;
}
 